form {
  margin: 10px 0;
  padding: 20px 0;
  background: #faf9f9;
  border-radius: 8px;
}

input[type="text"],
select {
  border: 1px solid lightblue;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  background-color: #ffffff;
  color: #5d6063;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

select {
  padding: 10px;
  height: auto;
  border-radius: 2px;
}